h1 {
    color: black;
    
    text-align: center;
  }

p.userPass {
    color: purple;
    font-size: 22px;
    text-align: center;
  }

#password {
    border-style: solid;
    border-width: 3px;
    border-color: purple; /*Puedes poner 4 de estos, uno por lado*/
    text-align: center;
}