h1 {
    color: black;
    text-align: center;
    padding-top: 20px;
  }

p.userPass {
    color: purple;
    font-size: 22px;
    text-align: center;
  }

#password {
    border-style: solid;
    border-width: 3px;
    border-color: purple; /*Puedes poner 4 de estos, uno por lado*/
    text-align: center;
}

#aside {
    width: 25%;
    background-color: #f1f1f1;
    padding: 20px;
}

nav {
    width: 25%;
    background-color: #f1f1f1;
}

main {
    margin-left: 25%;
  }